{# header.html.twig - nagłówek #}
<header class="bg-primary text-white text-center py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1>Rekrutacja</h1>
        <a href="index.php" class="btn btn-light btn-lg">Powrót do formularza</a>
        <a href="index.php?page=aplications" class="btn btn-light btn-lg">Lista CV</a>
    </div>
</header>

